/* Framework Main */
 body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
        }
a { color:white } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }

        .container {
            text-align: center;
		width: 100%;
		height: auto;
        }
  .container_pillars {
            text-align: center;
		width: 100%;
		height: auto;
	 	display: flex;
	 	justify-content: center;
	  	flex-direction: column;
        }

        .main-title {
            font-size: 5vh;
            margin-bottom: 30px;
        }
 .click-title {
            font-size: 1.5em;
            margin-bottom: 30px;
        }


        .sub-titles {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 30px;
        }

        .sub-titles h2 {
            font-size: 4vh;
	    color: black;
        }

        .images {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .images img {
        border-radius:500px;
	width:22vh;
	height:22vh;
        }
.main { 
	background-color:rgba(255, 255, 255, 1);
	height: 100%;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 80% 80%;
	width: 90%;
	margin: 0 auto;
	
        
        
}
.top_main {
         width: 90%;
	height: auto;
	text-align: center;
	font-size:40px;

}


.Vision { 
	border-radius:500px;
	width:232px;
	height:232px;
	display: flex;
	float: left;
	background-image:url(Images/Vision.png);
	background-repeat:no-repeat;
	background-size:cover;
	justify-content: space-around;
	margin: 0px 40px;
}




.left_title { 
	width: auto;
	height: auto;
	display: inline-block;
	font-size:36px;
}
.left_title_span { 
	color:rgba(0, 0, 0, 1);
	width:320.0818176269531px;
	height:94px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	display: flex;
	float: left;
	justify-content: space-around;
}
.middle_title { 
	width:280px;
	height:84.70587921142578px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.middle_title_span { 
	color:rgba(0, 0, 0, 1);
	width:327.0909118652344px;
	height:84.70587921142578px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
        margin:0 auto;
	display: flex;
	justify-content: space-around;
}
.right_title { 
	width:301px;
	height:100px;
	position:absolute;
	left:886px;
	top:377.6470642089844px;
}
.right_title_span { 
	color:rgba(0, 0, 0, 1);
	width:351.62274169921875px;
	height:100px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	float: right;
	display: flex;
	justify-content: space-around;
}
.Pillars { 
	border-radius:500px;
	width:232px;
	height:232px;
	display: flex;
	margin:0 auto;
	background-image:url(Images/Mission.png);
	background-repeat:no-repeat;
	background-size:cover;
	justify-content: space-around;
}

.Mission { 
	border-radius:500px;
	width:232px;
	height:232px;
	display: flex;
	float: right;
	background-image:url(Images/Pillars.png);
	background-repeat:no-repeat;
	background-size:cover;
	justify-content: space-around;
	margin: 0px 40px;
}

.middle_header { 
	color:rgba(0, 0, 0, 1);
	width:612px;
	height:58px;
	display: flex;
	margin:0 auto;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	justify-content: space-around;
}


.visionframe { 
	background-color:rgba(0, 0, 0, 1);
	width: 85%;
	height: auto;
	justify-content: space-around;
	text-align: center;
}
.p_box { 
	width:949px;
	height:186px;
	position:absolute;
	left:155px;
	top:82px;
}
.p_text { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:2vw;
	letter-spacing:0;
	margin-bottom: 50px;
}
.back_box { 
	width:411px;
	height:59px;
	position:absolute;
	left:424px;
	top:280px;
}
.back_text { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	font-family:Inter;
	text-align:center;
	font-size:3vw;
	justify-content: center;
	letter-spacing:0;
}
.back_text_black { 
	color:rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	font-family:Inter;
	text-align:center;
	font-size:3vw;
	justify-content: center;
	letter-spacing:0;
	margin: 0 auto;
}
.back_text_grid { 
	color:rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	font-family:Inter;
	text-align:center;
	font-size:3vw;
	grid-column-start: 3;
        grid-column-end: span 1;
 	grid-row-start: 2;
 	grid-row-end: span 1;
	justify-content: center;
	letter-spacing:0;
}
.h1_text { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	justify-content: space-around; 
	font-size:4vw;
	letter-spacing:0;
}
.h1_text_black { 
	color:rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	justify-content: space-around; 
	font-size:4vw;
	letter-spacing:0;
}

/* Our Mission */

.mission_frame { 
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	width: 85%;
	height: auto;
	justify-content: space-around;
	text-align: center;
}

/* Pillar Examples */


.examples_box { 
	height: auto;
	display: grid;
	grid-template-columns: 40% 20% 20% 20%;
	grid-template-rows: 50% 50%;
	margin: 0 auto;
	
}
.video_production_box { 
	background-color:rgba(0, 0, 0, 1);
	width:auto;
	height:auto;
	text-align:center;
	grid-column-start: 1;
        grid-column-end: span 2;
 	grid-row-start: 1;
 	grid-row-end: span 2;

}
.video_production_box h1 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:3vw;
}

.photography_box { 
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	grid-column-start: 3;
        grid-column-end: span 1;
 	grid-row-start: 1;
 	grid-row-end: span 1;
}
.photography_box h1 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:2vw;
}

.digital_marketing_box { 
	background-color:rgba(0, 0, 0, 1);
	grid-column-start: 4;
        grid-column-end: span 1;
 	grid-row-start: 1;
 	grid-row-end: span 1;
}
.digital_marketing_box h1 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:2vw;
}

.graphic_design_box { 
	background-color:rgba(0, 0, 0, 1);
	grid-column-start: 3;
        grid-column-end: span 1;
 	grid-row-start: 2;
 	grid-row-end: span 1;
}
.graphic_design_box h1 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:2vw;
}

.content_creation_box { 
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	grid-column-start: 4;
        grid-column-end: span 1;
 	grid-row-start: 2;
 	grid-row-end: span 1;

}
.content_creation_box h1 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	font-size:2vw;
}

.h1_video { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	justify-content: space-around;
}
.h1_photography { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	justify-content: space-around;
}
.h1_graphic_design { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	justify-content: space-around;
}
.h1_digital_marketing { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	justify-content: space-around;
}
.h1_content_creation { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	justify-content: space-around;
}
.video_image { 
	width:50%;
	height:auto;
	display: flex;
	justify-content: space-around;
	background-image:url(Images/video_production.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.photography_image { 
	width:50%;
	height:auto;
	display: flex;
	justify-content: space-around;
	background-image:url(Images/photography.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.graphic_design_image { 
	width:50%;
	height:auto;
	display: flex;
	justify-content: space-around;
	background-image:url(Images/graphic_design.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.digital_marketing_image { 
	width:50%;
	height:auto;
	display: flex;
	justify-content: space-around;
	background-image:url(Images/digital_marketing.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.content_creation_image { 
	width:50%;
	height:auto;
	display: flex;
	justify-content: space-around;
	background-image:url(Images/content_creation.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.title_pillars { 
	color:rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

/* Content Creation Page */

.audio_box { 
	border-radius:50%;
	background-color:rgba(0, 0, 0, 1);
	grid-column-start: 1;
        grid-column-end: span 1;
 	grid-row-start: 1;
 	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.audio_box h2 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:center;
	font-size:4vw;
}

.sharepoint_box { 
	border-radius:50%;
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	grid-column-start: 2;
        grid-column-end: span 1;
 	grid-row-start: 2;
 	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.sharepoint_box h2 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:center;
	font-size:4vw;
}

.e_learning_box { 
	border-radius:50%;
	background-color:rgba(0, 0, 0, 1);
	grid-column-start: 3;
        grid-column-end: span 1;
 	grid-row-start: 1;
 	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.e_learning_box h2 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:center;
	font-size:4vw;
}

.virtual_tour_box { 
	border-radius:50%;
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	grid-column-start: 4;
        grid-column-end: span 1;
 	grid-row-start: 2;
 	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.virtual_tour_box h2 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:center;
	font-size:4vw;
}

.script_box { 
	border-radius:50%;
	background-color:rgba(0, 0, 0, 1);
	grid-column-start: 5;
        grid-column-end: span 1;
 	grid-row-start: 1;
 	grid-row-end: span 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.script_box h2 {
	color:rgba(255, 255, 255, 1);
	font-family:Inter;
	text-align:center;
	font-size:4vw;
}


.audio_text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.sharepoint_text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e_learning_text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.virtual_tour_text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.script_text { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:auto;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.pillar_title { 
	color:rgba(0, 0, 0, 1);
	width:806px;
	height:60px;
	position:absolute;
	left:237px;
	top:46px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.pillar_right_back { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:93px;
	position:absolute;
	left:1027px;
	top:438px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.pillar_left_back { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.20000000298023224);
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:93px;
	position:absolute;
	left:56px;
	top:439px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

/* Digital Marketing Page */

.qr_codes_text { 
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:109px;
	position:absolute;
	left:328px;
	top:441px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}

.interactive_infographics_text { 
	color:rgba(255, 255, 255, 1);
	width:208px;
	height:64px;
	position:absolute;
	left:724px;
	top:426px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}


.flyers_text { 
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:109px;
	position:absolute;
	left:157px;
	top:212px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.image_retouching_text { 
	color:rgba(255, 255, 255, 1);
	width:171px;
	height:109px;
	position:absolute;
	left:328px;
	top:422px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.infographics_text { 
	color:rgba(255, 255, 255, 1);
	width:189px;
	height:88px;
	position:absolute;
	left:940px;
	top:220px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.headshots_text { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:107px;
	position:absolute;
	left:541px;
	top:204px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.drone_text { 
	color:rgba(255, 255, 255, 1);
	width:208px;
	height:64px;
	position:absolute;
	left:725px;
	top:420px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.event_highlights_text { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:107px;
	position:absolute;
	left:543px;
	top:196px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}

.animations_text { 
	color:rgba(255, 255, 255, 1);
	width:174px;
	height:84px;
	position:absolute;
	left:948px;
	top:216px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}


/* pillar examples sub pages */

.main_pillars_descriptions { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:350px;
	position:absolute;
}
.black_text_frame { 
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}
.h1_pillar_examples { 
	color:rgba(255, 255, 255, 1);
	width:954px;
	height:182px;
	position:absolute;
	left:163px;
	top:130px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.back_pillar_examples { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:48px;
	position:absolute;
	left:470px;
	top:288px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
